@layer components {
  .delete-btn {
    @apply flex items-center justify-center font-medium w-full bg-blue-100 px-4 py-4 sm:px-6 text-base text-gray-600 hover:text-gray-800 hover:bg-blue-200 transition-all focus:outline-none;
  }
}
.ticker-card {
  animation: ticker-show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes ticker-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
